apipkg==1.5               # via pytest-shutil
attrs==19.3.0             # via pytest
biopython==1.76
click-plugins==1.1.1
click==7.1.1
colorama==0.4.3
contextlib2==0.6.0.post1  # via pytest-shutil
coverage==5.1
cycler==0.10.0            # via matplotlib
execnet==1.7.1            # via pytest-shutil
importlib-metadata==1.6.0 # via pytest
kiwisolver==1.2.0         # via matplotlib
matplotlib==3.2.1
mock==4.0.2               # via pytest-shutil
more-itertools==8.2.0     # via pytest
numpy==1.18.3
packaging==20.3           # via pytest
pandas==1.0.3
pluggy==0.13.1            # via pytest
py==1.8.1                 # via pytest
path.py==12.4.0           # via pytest-shutil
pyfaidx==0.5.8
pyfastaq==3.17.0          # via shell scripts
pyparsing==2.4.7          # via matplotlib, pytest
python-dateutil==2.8.1    # via matplotlib, pandas
pytest==5.4.1
pytest-shutil==1.7.0
pytz==2019.3              # via pandas
pyyaml==5.3.1
scipy==1.4.1              # via seaborn
seaborn==0.10.1
six==1.14.0               # via pyfaidx, python-dateutil, pytest
termcolor==1.1.0          # via pytest-shutil
wcwidth==0.1.9            # via pytest
zipp==3.1.0               # via pytest